@font-face {
  font-family: tratex;
  src: url('../fonts/tratex/TRATS.TTF');
}
body, html {
  width: 100%;
  height: 100%;
  font-family: tratex;
}
p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: rgb(40, 40, 40);
  font-size: 14px;
  font-family: tratex;
}

#firstname {
  color: rgb(40, 40, 40);
  margin-top: 10px;
  margin-left: -128px;
}

#lastname {
  color: rgb(40, 40, 40);
  margin-top: -4px;
  margin-left: -128px;
}

#id-card {
  position: relative;
  display: none;
  margin: 230px 50px 0 0;
  float: right;
  width: 457px;
  height: 272px;
  padding: 54px 17px 10px 144px;
  background: url("../images/idcard.png");
}

img {
  position: absolute;
  left:7px;
  top:5px;
}
#inline {
  position: absolute;
  top: 127px;
}

#dob {
  position: absolute;
  left: 10px;
  bottom: -7px;
  width: 100px;
}

#sex {
  position: absolute;
  bottom: 25px;
}

#nationality {
  position: absolute;
  left: 80px;
  width: 60px;
  bottom: 25px;
}

.hidden {
	display:none;
}